body {
  margin: 0;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;

  background: url("bg.png") no-repeat center center fixed;
  background-size: cover;
}

canvas {
  display: block;
  margin: auto;
  border-radius: 18px;
  box-shadow:
    0 0 30px #00fff2,
    inset 0 0 40px rgba(255,255,255,0.05);
  background: linear-gradient(180deg, #0b0b18cc, #05050acc);
}

#github {
  position: fixed;
  top: 38px;
  right: 50px;
  width: 34px;
  opacity: 0.9;
  transition: 0.2s;
}

#github:hover {
  opacity: 1;
  transform: scale(1.1);
}

#github img {
  width: 100%;
  filter: none; /* glow removed */
}


